body {
    background-color: darkgreen;
}

.mheader {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    font-size: 49px;
}
a {
    color: black;
    text-decoration: none;
}
#bar {
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    width: auto;
    height: 52px;
    background-color: green;
    font-size: 48px;
}
#data {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
#barlink1 {
    margin-right: 15px;
    margin-left: 10px;
}
#barlink2 {
    margin-right: 15px;
    margin-left: 10px;
}
#barlink3 {
    margin-right: 15px;
    margin-left: 10px;
}
